/firmware/bootloader/ds30loader.X/dist/default/
/firmware/bootloader/ds30loader.X/nbproject/private/
/firmware/bootloader/ds30loader.X/build/default/
/firmware/Documentation/
/firmware/busPirate.X/*.[is]
/firmware/busPirate.X/*.map
/firmware/busPirate.X/build/BusPirate_v3/
/firmware/busPirate.X/build/BusPirate_v4/
/firmware/busPirate.X/build/default/
/firmware/busPirate.X/debug/
/firmware/busPirate.X/dist/
/firmware/busPirate.X/nbproject/Makefile-BusPirate_v3.mk
/firmware/busPirate.X/nbproject/Makefile-BusPirate_v4.mk
/firmware/busPirate.X/nbproject/Makefile-default.mk
/firmware/busPirate.X/nbproject/Makefile-genesis.properties
/firmware/busPirate.X/nbproject/Makefile-impl.mk
/firmware/busPirate.X/nbproject/Makefile-local-BusPirate_v3.mk
/firmware/busPirate.X/nbproject/Makefile-local-BusPirate_v4.mk
/firmware/busPirate.X/nbproject/Makefile-local-default.mk
/firmware/busPirate.X/nbproject/Makefile-variables.mk
/firmware/busPirate.X/nbproject/Package-BusPirate_v3.bash
/firmware/busPirate.X/nbproject/Package-BusPirate_v4.bash
/firmware/busPirate.X/nbproject/Package-default.bash
/firmware/busPirate.X/nbproject/private/
